<div class="container" style="margin: 100px 10px;">
    <form action="/admin/login" method="post">
        <div class="mb-3">
            <label for="usuario" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control" name="usuario">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg">Ingresar</button>
    </form>

    {{#if error}}
    <p class="text-danger">¡Usuario o contraseña no validos!</p>
    {{/if}}

</div>